@import "mixins";
@import "typography";
@import "variables";

.headerList {
    button {
        padding: 8px 15px;
        @include font16;
        font-weight: 600;
        font-family: var(--font-family-space);
        border-radius: 7px;
        border: 1px solid var(--border-color);
        background-color: var(--bg-yellow);
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: var(--color-black);
            color: var(--font-yellow);
        }
    }
}

.subscribeBtn,
.bannerDivContent,
.pricingContent,
.getRedayHead {
    button {
        padding: 10px 15px;
        @include font16;
        font-weight: 600;
        font-family: var(--font-family-space);
        border-radius: 7px;
        border: 1px solid var(--border-color);
        background-color: var(--color-black);
        color: var(--font-white);
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: var(--bg-yellow);
            color: var(--font-black);
        }
    }
}

.subscribeBtn {
    button {
        width: 100%;
        border: 2px solid var(--border-color);
    }
}

.pricingCardData {
    button {
        padding: 14px 50px;
        @include font16;
        font-weight: 600;
        font-family: var(--font-family-space);
        border-radius: 7px;
        border: none;
        background-color: var(--color-white);
        color: var(--font-black);
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: var(--bg-yellow);
        }
    }
}
