@import "mixins";
@import "typography";
@import "variables";

.headerList {
    button {
        padding: 8px 15px;
        @include font16;
        font-weight: 600;
        font-family: var(--font-family-space);
        border-radius: 7px;
        border: 1px solid var(--border-color);
        background-color: var(--bg-yellow);
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: var(--color-black);
            color: var(--font-yellow);
        }
    }
}