:root {
    --color-white: #fff;
    --color-black: #000;

    --font-black: #000;
    --font-white: #fff;
    --font-shadow: #6f6f6f;
    --font-yellow: #ffbf23;

    --bg-yellow: #ffbf23;
    --bg-pink: #FFD7EF;
    --bg-gray: #f6f5f5;
    --bg-gray2: #dddddd;

    --border-color: #212121;

    --font-family-space: "Space Grotesk";
    --font-family-proxima: "Proxima";
}