:root {
    --color-white: #fff;
    --color-black: #000;

    --font-black: #000;
    --font-yellow: #ffac00;

    --bg-yellow: #ffbf23;

    --border-color: #212121;

    --font-family-space: "Space Grotesk";
    --font-family-proxima: "Proxima";
}