body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

textarea {
    resize: none;
}

.no-scroll {
    position: fixed;
    width: 100%;
    overflow-y: scroll;
}

.no-scroll::-webkit-scrollbar {
    background: var(--color-white);
}

#product {
    scroll-margin-top: 100px;
}

.rfm-marquee-container {
    overflow: hidden !important;
}
