

// Space Grotesk //
@font-face {
  font-family: "Space Grotesk";
  src: url("../../fonts/SpaceGrotesk/SpaceGrotesk-VariableFont_wght.ttf") format("truetype");
}

// Proxima //
@font-face {
  font-family: "Proxima";
  src: url("../../fonts/Proxima/Proxima\ Nova\ Thin.otf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Proxima";
  src: url("../../fonts/Proxima/ProximaNova-Regular.otf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Proxima";
  src: url("../../fonts/Proxima/Proxima\ Nova\ Semibold.otf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Proxima";
  src: url("../../fonts/Proxima/Proxima\ Nova\ Bold.otf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Proxima";
  src: url("../../fonts/Proxima/Proxima\ Nova\ Extrabold.otf") format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: "Proxima";
  src: url("../../fonts/Proxima/Proxima\ Nova\ Black.otf") format("truetype");
  font-weight: 900;
}
