@import "../../assets/styles/main.scss";

.contactHead {
    padding: 200px 0 100px 0;
    background-color: var(--bg-pink);

    @include breakpoint("sm-max") {
        padding: 150px 0 100px 0;
    }

    .contactHeadContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        text-align: center;

        h1 {
            @include font50;
            font-family: var(--font-family-space);
            color: var(--font-black);

            @include breakpoint("sm-max") {
                font-size: 38px;
                line-height: 50px;
            }
        }

        p {
            @include font20;
            font-family: var(--font-family-proxima);
            color: var(--font-black);
            max-width: 700px;
        }
    }
}

.contact {
    padding-bottom: 50px;
    position: relative;
    background: linear-gradient(180deg, #ffd7ef 0, #ffd7ef 150px, #ffffff 0, #ffffff);

    .contactBg {
        position: absolute;
        top: 52px;
        left: 0;
        width: 100%;

        svg {
            fill: var(--color-white);
        }
    }

    .contactContent {
        position: relative;
        display: grid;
        gap: 40px 30px;
        grid-template-columns: repeat(4, 1fr);

        @include breakpoint("lg-max") {
            grid-template-columns: repeat(2, 1fr);
        }

        @include breakpoint("sm-max") {
            grid-template-columns: repeat(1, 1fr);
        }

        .contactContentBox {
            background-color: var(--color-white);
            color: var(--color-black);
            border: 2px solid var(--color-black);
            border-radius: 8px;
            display: grid;
            grid-template-rows: 30px 1fr;
            overflow: hidden;
            
            .contactContentLine {
                padding: 10px;
                background-color: var(--bg-yellow);
                border-bottom: 2px solid var(--color-black);
                display: flex;
                align-items: center;
                gap: 5px;

                .contactLineDot {
                    height: 6px;
                    width: 6px;
                    background-color: var(--color-black);
                    border-radius: 50%;
                }
            }

            .contactText {
                padding: 20px;

                .contactIcon {
                    height: 40px;
                    width: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 2px solid var(--bg-gray2);
                    border-radius: 4px;
                }

                h2 {
                    @include font22Bold;
                    font-family: var(--font-family-space);
                    margin-top: 40px;
                }

                p {
                    @include font16;
                    font-family: var(--font-family-proxima);
                    margin: 10px 0 20px 0;
                }

                a {
                    @include font16;
                    font-family: var(--font-family-proxima);
                    color: var(--font-black);
                    text-decoration-line: underline;
                }
            }
        }
    }
}
